button{
    background: var(--color-light-primary);
    padding:1rem;
    color:var(--color-dark-secondary);
    border:none;
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.157);
    margin: 1rem 0;
    cursor: pointer;
}