.login{
    width: 100%;
    padding:5rem 0;
}
.form-container{
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:4rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #08141e1a;
}
.form-container input, label{
    width: 100%;
    padding: 1rem 0;
}
.form-container .title-form{
    font-size:2rem;
    text-align: center;
    color:var(--color-light-complementary);
}
.form-container .icon-form{
    text-align: center;
    font-size: 5rem;
    color:var(--color-light-complementary);
}

/*responsive*/
@media (min-width:240px) and (max-width:880px){
    .login{
        width: 100%;
        padding:9rem 0;
    }
    .form-container{
        max-width: 90%;
        padding: 2rem 1rem;
    } 
}
