
.mision-container{
  background:  var( --color-light-secondary);
}
.mision-container .hero-description{
  line-height: 2.5rem;
  text-align: justify;
  font-size: 1.3rem;
  font-style: italic;
  color:var(--color-light-complementary);
}
.mision-container .button-hero{
  width: 40%;
}

/*responsive*/
@media (min-width:240px) and (max-width:880px){
  .mision-container .button-hero{
    width: 100%;
  }

}
