.section-hero {
  background: var(--color-dark-primary) url("../../img/herodevbg.png") center;
  background-size: cover;
}
.section-hero .hero-description {
  line-height: 2.5rem;
  text-align: justify;
  font-size: 1.3rem;
  color: var(--color-light-primary);
}
.section-hero .button-hero {
  width: 40%;
}
.section-hero span {
  color: var(--color-light-primary);
}
.section-hero .hero-container-bg {
  width: 100%;
  height: auto;
  background: #0f0f0f91;
}

/*responsive*/
@media (min-width: 240px) and (max-width: 880px) {
  .section-hero .button-hero {
    width: 100%;
  }
}
