/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-light-primary);
  color:var(--color-dark-primary);
}
a{
  color:var(--color-blue-primary);
  text-decoration: none;
}

/*colors*/
:root {
  --color-dark-primary: #08141e;
  --color-dark-secondary: #102c44;
  --color-blue-primary: #27659b;
  --color-light-primary: #f5f5f5;
  --color-light-secondary: #d9d9d9;
  --color-light-complementary:#757575;
}

/*general class*/
.flex-container {
  max-width: 70%;
  margin: 0 auto;
}
@media (min-width: 240px) and (max-width: 880px) {
  .flex-container {
    max-width: 90%;
  }
}


