.description-container {
  background:var(--color-light-secondary);
  width: 100%;
  line-height: 2.5rem;
  text-align: justify;
  font-size: 1.3rem;
  background-size: cover;
  color: var(--color-light-complementary);
}