header {
  width: 100%;
  background: var(--color-dark-primary);
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-container input,
label {
  display: none;
}
header .nav-container ul li {
  list-style: none;
  display: inline;
  padding: 0 0.5rem;
}
header .nav-container .logo{
    width: 4rem;
}
header .nav-container a{
    text-decoration: none;
    color:var(--color-light-primary);
}
header .nav-container a:hover{
    color:var(--color-light-secondary);
    transition: all 100ms ease-in-out;
}
